@{
    ViewData["Title"] = "Privacy Policy";
}
<!-- Card -->
<!-- Card -->
<div class="card testimonial-card">

    <!-- Background color -->
    <div class="card-up indigo lighten-1"></div>

    <!-- Avatar -->
    <div class="avatar mx-auto white">
        <img src="~/f7kMcgElFDBye3eC-pic (2).jpg" class="rounded-circle" alt="woman avatar">
    </div>

    <!-- Content -->
    <div class="card-body">
        <!-- Name -->
        <h4 class="card-title">Toufique Imam Nuhash</h4>
        <hr>
        <!-- Quotation -->
        <p><i class="fas fa-quote-left"></i> I am a Student of KUET, CSE DEPT. I Like Sports Programming and learning new things</p>
    </div>
    <div class="card-footer">
        <a class="px-2 fa-lg li-ic" href="https://www.linkedin.com/in/toufique-imam-nuhash-32892315b/"><i class="fab fa-linkedin-in"></i></a>
        <!-- Twitter -->
        <a class="px-2 fa-lg tw-ic" href="https://twitter.com/sabertooth_"><i class="fab fa-twitter"></i></a>
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic" href="https://www.facebook.com/saberto0th"><i class="fab fa-facebook-f"></i></a>
    </div>

</div>
<!-- Card -->
